<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Notícias</title>
		</head>
	<body>

		<h1>Notícias</h1>

		<table>
			<tr>
				<td>ID</td>
				<td>Titulo</td>
				<td>Noticia</td>
			</tr>

			<!--- se a variável noticias (Encontrar no módulo "noticias.js" -- res.render("noticias/noticias", { noticias: result })) funciona como uma array, podemos criar um loop que vai pegar todos os índices da array e exibir o banco de dados inteiro. --->
			<% for(var i=0; i < noticias.length; i++) { %>
				<tr>
					<td><%= noticias[i].id %></td> <!---Tudo entre as duas tags <% %> avi ser interpretado pelo Javascript--->
					<td><%= noticias[i].titulo %></td><!---funciona como valor da propriedade titulo do objeto sem nome que ocupa a posição i dentro da array noticias. Para visualizar a tabela do banco de dados, imagine como a célula na coluna titulo e linha i--->
					<td><%= noticias[i].noticia %></td>
				</tr>
			<% } %> <!---isso aqui é o fim do loop for. Tem que estar entre essas tags para ser interpretado pelo Javascript.--->
		</table>

	</body>
</html>